<%= provide(:title, 'New User') %>
<h1>Создание Нового Пользователя</h1>
<% if current_user.admin? %>
<div class="row">
  <div class="span5 offset3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name  %>

    <%= f.label :email  %>
    <%= f.text_field :email  %>

    <%= f.label :password  %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation  %>

    <%= f.submit "Создать нового пользователя", class: "btn btn-large btn-danger"  %>
    <% end %>
  </div>
</div>
<% else %>
<div class="signup-error">
  <%= image_tag("hey-you.jpg", alt: "Hey You!", size: "250x168")  %>
  <br> <br>
  ВАМ НЕ ХВАТАЕТ ПРАВ ДЛЯ СОЗДАНИЯ НОВОГО ПОЛЬЗОВАТЕЛЯ, <br><br>
  ПОЖАЛУЙСТА, ОБРАТИТЕСЬ К АДМИНИСТРАТОРУ САЙТА ИЛИ <br><br>
  ПРЕКРАТИТЕ ПОПЫТКИ СОЗДАНИЯ НОВОГО ПОЛЬЗОВАТЕЛЯ <br><br>
</div>
<% end %>
